/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

// Colores que no varian entre temas
@mixin custom-invariants($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-primary-text {
    color: mat-color($primary, text);
  }
}


// Colores que varian por tema
@mixin custom-variants($theme, $dark: false) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);

  .taller-panel {
    @if $dark {
      border-color: #444038;
    } @else {
      border-color: #dadce0;
    }
  }

  .mat-bg-primary-off {
    @if $dark {
      background: mat-color($background, card);
    } @else {
      background: mat-color($primary, darker);
    }
  }
}


// Estilos sin color
.taller-panel {
  // align-items: center;
  border: 2px solid;
  border-radius: 8px;

  .stripe {
    position: absolute;
    top: -1px;
    left: -1px;
    height: 10px;
    width: calc(100% + 2px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.taller-container {
  display: flex;
  flex-direction: column;
  margin: 12px auto;
  padding: 24px;
  padding-top: 22px;
  position: relative;
  max-width: 90vw;

  &:not(.wide) {
    width: 640px;
  }
}

taller-app {
  transition: all 1s;
}

.mat-list-item.mat-list-option {
  .side-icon {
    position: absolute;
    right: 1.5em;
    margin-top: -0.75em;
  }
}
