@import "custom";

@function get-color($theme, $palette, $hue) {
  @return mat-color(map-get($theme, $palette), $hue);
}

@mixin theme-invariants($theme) {
  $colors: primary, accent;
  $variants: lighter, darker;

  // Defino atajos para las variantes más usadas
  @each $color in $colors {
    .mat-#{$color} { color: get-color($theme, $color, default) }
    @each $hue in $variants {
      .mat-#{$color}-#{$hue}.mat-#{$color}-#{$hue} { color: get-color($theme, $color, $hue)}
      .mat-#{$color}-#{$hue}-h:hover { color: get-color($theme, $color, $hue)}
      .mat-bg-#{$color}-#{$hue} { background-color: get-color($theme, $color, $hue); color: get-color($theme, $color, #{$hue}-contrast)}
    }
  }

  .mat-warn.mat-warn { color: get-color($theme, warn, default) }

  .mat-form-field.mat-accent.mat-focused {
    .mat-form-field-label {
      color: get-color($theme, accent, default);
    }

    .mat-form-field-ripple {
      background-color: get-color($theme, accent, default);
    }
  }

  $tones: red, purple, blue;
  
  @each $tone in $tones {
    .mat-#{"" + $tone} {
      .mat-slider-track-fill,
      .mat-slider-thumb,
      .mat-slider-thumb-label {
        background-color: get-color($theme, primary, $tone)
      }
    }
  }

  @include custom-invariants($theme);
}

@mixin custom-theme($theme, $dark: false) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // Defino atajos para las variantes más usadas
  .mat-background { background-color: mat-color($background, background) }
  .mat-background-higher { background-color: mat-color($background, card) }
  .mat-background-lower { background-color: mat-color($background, disabled-button) }
  .mat-foreground { color: mat-color($foreground, text) }
  .mat-foreground-higher { color: mat-color($foreground, base) }
  .mat-foreground-lower { color: mat-color($foreground, disabled-text) }

  h1,h2,h3,h4,h5,h6,button.mat-button,p { color: mat-color($foreground, text) }
  
  .mat-flat-button.mat-warn.mat-warn { color: get-color($theme, warn, default-contrast) }

  @if $dark {
    snack-bar-container.mat-snack-bar-container {
      .mat-simple-snackbar-action { color: get-color($theme, accent, default) }
      background-color: mat-color($background, card);
      color: mat-color($foreground, disabled-text)
    }
  }
}
