// Pido prestados estos dos de los scss de Material.
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$color-primary: (
  default: #007acc,
  lighter: #4da2db,
  darker: #0067c0,
  text: #0072c7,
  default-contrast: $light-primary-text,
  lighter-contrast: $dark-primary-text,
  darker-contrast: $light-primary-text,
);

$palette-primary: (
  50 : #e0eff9,
  100 : #b3d7f0,
  200 : #80bde6,
  300 : #4da2db,
  400 : #268ed4,
  500 : #007acc,
  600 : #0072c7,
  700 : #0067c0,
  800 : #005db9,
  900 : #004aad,
  A100 : #d7e5ff,
  A200 : #a4c4ff,
  A400 : #71a4ff,
  A700 : #5893ff,
  50-contrast : #000000,
  100-contrast : #000000,
  200-contrast : #000000,
  300-contrast : #000000,
  400-contrast : #ffffff,
  500-contrast : #ffffff,
  600-contrast : #ffffff,
  700-contrast : #ffffff,
  800-contrast : #ffffff,
  900-contrast : #ffffff,
  A100-contrast : #000000,
  A200-contrast : #000000,
  A400-contrast : #000000,
  A700-contrast : #000000,
);

$color-accent: (
  default: #fc9810,
  lighter: #fdb758,
  darker: #fb850c,
  text: #fc900e,
  default-contrast: $dark-primary-text,
  lighter-contrast: $dark-primary-text,
  darker-contrast: $dark-primary-text,
);

$palette-accent: (
  50: #fff3e2,
  100: #fee0b7,
  200: #fecc88,
  300: #fdb758,
  400: #fca734,
  500: #fc9810,
  600: #fc900e,
  700: #fb850c,
  800: #fb7b09,
  900: #fa6a05,
  A100: #ffffff,
  A200: #fff4ee,
  A400: #ffd3bb,
  A700: #ffc3a2,
  50-contrast: #000000,
  100-contrast: #000000,
  200-contrast: #000000,
  300-contrast: #000000,
  400-contrast: #000000,
  500-contrast: #000000,
  600-contrast: #000000,
  700-contrast: #000000,
  800-contrast: #000000,
  900-contrast: #000000,
  A100-contrast: #000000,
  A200-contrast: #000000,
  A400-contrast: #000000,
  A700-contrast: #000000,
);

$color-warn: (
  default: #db5259,
  lighter: #e6868b,
  darker: #cd383e,
  text: #d24148,
  default-contrast: $light-primary-text,
  lighter-contrast: $dark-primary-text,
  darker-contrast: $light-primary-text,
);

$palette-warn: (
  50 : #fbeaeb,
  100 : #f4cbcd,
  200 : #eda9ac,
  300 : #e6868b,
  400 : #e06c72,
  500 : #db5259,
  600 : #d74b51,
  700 : #d24148,
  800 : #cd383e,
  900 : #c4282e,
  A100 : #ffffff,
  A200 : #ffcfd1,
  A400 : #ff9c9f,
  A700 : #ff8387,
  50-contrast : #000000,
  100-contrast : #000000,
  200-contrast : #000000,
  300-contrast : #000000,
  400-contrast : #000000,
  500-contrast : #ffffff,
  600-contrast : #ffffff,
  700-contrast : #ffffff,
  800-contrast : #ffffff,
  900-contrast : #ffffff,
  A100-contrast : #000000,
  A200-contrast : #000000,
  A400-contrast : #000000,
  A700-contrast : #000000,
);

