<mat-toolbar class="mat-bg-primary-off">
  <div class="d-flex container h-100 py-2 align-items-center">
    <h4 class="clickable" routerLink="">Taller Backend</h4>
    <mat-divider vertical class="mx-3"></mat-divider>
    <span class="flex-grow-1"></span>
    <mat-divider vertical class="mx-3"></mat-divider>
    <mat-slide-toggle disableRipple color="primary" [checked]="checked" (change)="nightModeToggle()">
    </mat-slide-toggle>
    <button mat-icon-button class="ml-2" (click)="nightModeToggle()">
      <mat-icon class="mat-primary-text" *ngIf="isDark; else dayLight">dark_mode</mat-icon>
      <ng-template #dayLight>
        <mat-icon class="mat-foreground">light_mode</mat-icon>
      </ng-template>
    </button>
  </div>
</mat-toolbar>